.ship-detail {
    text-align: center;
    margin:0;
    padding: 20px;
    border: 1px solid whitesmoke;
    background-color: aliceblue;
    color: black;
}

.ship-detail h2{
    margin-bottom: 20px;
}

.ship-detail p {
    margin:10px;
    font-family: 'Courier New', Courier ;
    font-weight: bolder;
}

.ship-pilots, .ship-films {
    margin-top: 5px;
    color: #fff;
    font-family: 'Courier New', Courier ;
    font-weight: bolder;
    padding: 20px;
  }

  .ship-pilots h2, .ship-films h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .pilot-list, .film-list {
    display: flex;
    gap: 5px;
    background-color: #fff;
    color: black;
  }
  
  .pilot-item, .film-item {
    text-align: center;
  }